[Desktop Entry]
Type=Application
Exec=pkexec /usr/sbin/kernel-remover
Icon=kernel-remover
Name=Kernel Remover
GenericName=Delete Old Kernels
GenericName[de]=entferne alte Kernel
Categories=System;
Keywords=Kernel;remover;removal;
Terminal=true
TerminalOptions=
