Source: sidux-kernelhacking
Section: misc
Priority: extra
Maintainer: Stefan Lippers-Hollmann <s.l-h@gmx.de>
Uploaders: Kel Modderman <kelrin@tpg.com.au>
Build-Depends: cdbs (>= 0.4.23-1.1), debhelper (>= 5.0.0)
Standards-Version: 3.7.2

Package: sidux-kernelhacking
Architecture: all
Recommends: sidux-modules, dpatch, dpkg-dev, fakeroot
Conflicts: kanotix-kernelhacking
Description: various tools for kernel hacking
 These tools script common tasks while testing kernels, like creating kbuild 
 symlinks, removal of deprecated kernel images and associated drivers or a 
 custom Makefile for /usr/src/.

Package: sidux-modules
Architecture: all
Depends: bzip2, unp, zip, gawk, acx-source, acer-acpi-source, adm8211-source, at76c503a-source, btsco-source, fsam7400-source, gspca-source, ipw3945-source, ivtv-source, linux-wlan-ng-source, lirc-modules-source, ndiswrapper-source, qc-usb-source, rt2500-source, rt2570-source, rfswitch-source, squashfs-source
Recommends: acerhk-source
Suggests: sidux-kernelhacking
Conflicts: kanotix-modules
Description: meta package for sidux kernel modules
 Depend on commonly used kernel module sources for easy kernel hacking and
 provide easy scripts to unpack those or remove older kernels.
