#!/usr/bin/make -f

include /usr/share/cdbs/1/rules/debhelper.mk

DEB_COMPRESS_EXCLUDE := .sh
DEB_BUILD_ARCH ?= $(shell dpkg-architecture -qDEB_BUILD_ARCH)

build/sidux-kernelhacking::
	# Gettext Internationalisation (i18n)
	DESTDIR=$(CURDIR)/debian/sidux-kernelhacking $(CURDIR)/po/make_po.sh kernel-remover.mo

build/sidux-modules::
	awk -v arch=$(DEB_BUILD_ARCH) -f mk_sidux_modules_conffile.awk \
		debian/control > sidux-modules

clean::
	-rm -f sidux-modules
	
