Source: linux-custom-patches-%VER%
Section: devel
Priority: extra
Maintainer: %DEBFULLNAME% <%DEBEMAIL%>
Build-Depends: cdbs, debhelper (>= 5.0.0)
Standards-Version: 3.7.2

Package: linux-custom-patches-%VER%
Architecture: any
Depends: bzip2, linux-image-%VER%
Recommends: cdbs, dpkg-dev, fakeroot, sidux-kernelhacking
Suggests: sidux-modules
Description: custom source patches for linux-image-%VER%
 This packages stores the custom patches used to create 
 linux-custom-patches-%VER% under /usr/src/.
