#!/usr/bin/make -f

include /usr/share/cdbs/1/rules/debhelper.mk

build/linux-custom-patches-%VER%::
	tar -cjf linux-custom-patches-%VER%.tar.bz2 patches

clean::
	rm -f linux-custom-patches-%VER%.tar.bz2

